.ToDoItem {
  list-style-type: none;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 10px;
}

.deleted {
  text-decoration: line-through;
}

.deleteTodo {
  cursor: pointer;
}

.box {
  cursor: pointer;
}
