.ToDoItem {
  margin-top: 5px;
  list-style-type: none;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 0 20px;
  border-radius: 12px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.144);
  width: 80vw;
  justify-content: flex-start;
}

.deleted {
  text-decoration: line-through;
}

.deleteTodo {
  cursor: pointer;
}

.box {
  cursor: pointer;
}
