.App {
  text-align: center;
}

.App h3 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, white, rgb(216, 216, 216));
  border-radius: 30px;
  margin-top: 40px;
  width: 100vw;
  height: 70vh;
}
